
<style>
    /*layout product*/
    .flex-container {
        display: flex;
        justify-content: center;
        align-content: center;
        overflow: hidden;
    }

        .flex-container > div {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            margin-left: 3rem;
            margin: 1rem;
            border-radius: 10px;
            background:white;
        }

    .price {
        color: red;
        font-weight: bold;
    }

    .cart_btn {
        margin-bottom: 3rem;
    }

</style>

@using Ictshop.Models;
@model List<Sanpham>


<div class="p-3 mb-2 bg-secondary text-white"><h3 style="padding-left:30px"> APPLE </h3></div>
<div class="flex-container">
    @foreach (var item in Model)
    {

        <div class="col-md-3 col-sm-6">
            <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
                <img src=@item.Anhbia class="img-responsive" alt="" width="400" height="400" />
            </a>
            <center>
                <h3>@item.Tensp</h3>
                <h3 class="price">Giá: @item.Giatien</h3>
                <br />
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp, @strURL = Request.Url.ToString() }))
                {
                    <input class="cart_btn" type="submit" value="Mua hàng" id="bgnGioHang" />

                }
                @*<a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">Xem chi tiết</a>*@
            </center>

        </div>


    }
    @*<div class="col-md-3 col-sm-6">
            <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
        </div>*@
</div>

